@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  
  body {
    background-color: #FFEDDF;
    padding-top: 0px;
    padding-left: 0px;
  
  }
  
.container1{
    background-image: url(image/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    opacity: 0.2; 

}
.aboutuspic{
    width:100%;
    height:500px;
    object-fit:cover;
}

.p{
    font-size:24px;
    text-align:center;
    padding-left:23%;
    padding-right:23%
    
}


.top{
    display: flex;
    background-color: rgba(249, 210, 153, 0.482);
    margin-top: 0%;
    
}

.LOGO{
    width: 100px ;
    height: 100px;
    align-items: center;
    border-radius: 40%;
    
}

.menu{
    display: flex;
    background-color:transparent;
    width: 100%;
    height: 0px;
}
.menu li{
    list-style-type: none;
    margin-top: 35px; 
}
.menu li .link{
    text-decoration: none;
    color: #000000;
    font-size: large;
     margin: 20px;
}
.btn{
    width: 200px;
    height: 40px;
    padding: 10px 20px;
    border-radius: 30px;
    margin-top: 3%;
    border: none;
    cursor: pointer;
    background-color: #0289ff; 
    color: #000;  
    justify-content: right;
}
.btn:hover{
    background-color: rgb(6, 43, 227);
}
.btn a{
    text-decoration: none;
    color: #000;
    transition: .2s ease; 
}

.container{
    margin-left:0% ;
    align-items:left;
    height:50vh;
    width:25vw;
}


.align{
    text-align:center;
}

.img{
    background-image: url(image/aboutus.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;  

}

.bgimg{
    background-image: url(image/.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}
