* {
    padding: 0%;
    margin-top: 0%;
    margin-left: 0%;
    margin-right: 0%;
    font-family: "Poppins", sans-serif;
}

body{
    background-color: #FFEDDF;
    height: 800px;
    background-image: url(image/contact.png);
    background-size: 35%;
    background-repeat: no-repeat;
    background-position: calc(100% - 180px) 430px;
}
    
.header {
    padding: 20px;
    background-color: #0D1321;
    display: flex;
    align-items: center;
    margin-left: 0%;
}
    
.navbar-- a {
    position: relative;
    font-size: 18px;
    color: #ffffff;
    text-decoration: none;
    margin-left: 60px;
}
  
.LOGO{
    width: 250px;
    margin-right: 100px;
}

.topic{
    text-align: center;
    margin-top: 20px;
    font-size: 25px;
    font-family: sans-serif;
}

.b-row{
    width: 99%;
    height: 160px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
    background-color: rgba(68, 67, 66, 0.175);
    border-radius: 30px;
    margin-top: 20px;
    column-gap: 0px;
}

.b-col{
    margin-top: 1%;
    border: #000;
    width: 220px;
    height: 130px;
    background-color:  rgba(68, 67, 66, 0.556);
    border-radius:30px ;
}

.b-col1{
    margin-top: 1%;
    border: none;
    width: 220px;
    height: 120px;
    background-color: transparent;
    border-radius:30px ;
}

.b-col a{
    font-family: sans-serif;
    font-size: medium;
    margin-left: 5%;  
}

.b-col img{
    height: 50px;
    width: 50px;
    font-size: larger;
    margin-left: 15px;
    margin-top: 40px;
}

.box{
    width: 360px;
    margin-top: 15px;
    margin-left: 100px; 
    height: 400px;
    background-color:#919191a5 ;
    border: 1px solid #27252583;
    border-radius: 15px;
    padding: 9px;
}

.welcome a{
    color: #313131;
    font-size: 20px;  
}

.question{
    font-size: 10px;
    margin-left: 7%;
}

.input-details{
    background-color: #e8e8e8eb;
    border: none;
    width: 300px;
    height: 30px;
    border-radius: 20px;
    margin-left: 5%;
    padding-left: 20px;
    margin-top: 30px;
}

.error{
    margin-left: 25px;
}

.submit-field{
    background-color: #0289ff;
    border-radius: 9px;
    border: #054b88;
    width: 100px;
    height: 30px;
    margin-left: -110px;
    margin-top: 80px;
}

.submit-field:hover{
    background-color: #054b88;
}

.flex{
    display: flex;
}

.b-col i frame{
    width: 20px;
    height: 20px;
}

