@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap');


*{
  font-family: 'Poppins' , sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: .2s linear;
}

html {
  font-size: 62%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

section {
  padding: 3rem 9%;
}

.heading{
  text-align: center;
  color: #0D1321;
  text-transform: uppercase;
  margin-bottom: 4rem;
  margin-top: 2rem;
  font-size: 4rem;
}

.diet .image-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50rem, 1fr));
  gap: 1.5rem;
}

.diet .image-container .box {
  background: white;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.diet .image-container .box:hover .image img{
  transform: scale(1.1);
}

.diet .image-container .box .image {
  height: 50rem;
  overflow: hidden;
  width: 100%;
}

.diet .image-container .box .image img{
  height: 100%;
  width: 100%;
  object-fit:cover
}

.diet .image-container .box .content {
  padding: 2rem;
}
.diet .image-container .box .link {
  font-size: 2rem;
  color: #FFB27A;
}

.diet .image-container .box .content p {
  padding: 1rem 0;
  font-size: 1.4rem;
  color: #0D1321;
  line-height: 2;
}